.edit_emp_container {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.edit_emp_container form {
  width: 520px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.input_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  margin: 20px;
}

.input_container input {
  padding: 8px 8px 8px 8px;
  font-size: 16px;
  width: 280px;
  color: #d8dde3;
  opacity: 0.7;
}
.input_container label {
  margin-right: 50px;
  color: #353535;
}
.input_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.input_checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form_submit_btn {
  background-color: #fec300;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: medium;
}
.form_cancel_btn {
  background-color: grey;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: #fff;
  font-size: medium;
}

.form_submit_btn:hover {
  cursor: pointer;
  background-color: #ecb500;
}

.form_cancel_btn:hover {
  cursor: pointer;
  background-color: rgb(83, 83, 83);
}
