.main_content {
  display: grid;
  grid-template-columns: 12% 88%;
  height: 100vh;
  flex-direction: row;
}

.sidemenu_container {
  padding-top: 50px;
  text-align: center;
  background-color: #343744;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
}

.main_content__container {
  background-color: #f3f4f7;
}

@media screen and (min-width: 700px) {
  .main_content__container {
    overflow-x: scroll;
  }
}
